:root {
  --palette-1: rgba(106, 0, 255, 1);
  --palette-2: rgba(255, 155, 255, 1);
  --palette-3: rgba(58, 190, 171, 1);
  --palette-4: rgba(31, 25, 38, 1);
  --variable-collection-palette-5: rgba(171, 136, 240, 1);
  --variable-collection-palette-6: rgba(155, 110, 252, 1);
  --variable-collection-palette-7: rgba(255, 214, 114, 1);
}
